.d-flex-justify-content-between {
  display: flex;
  justify-content: space-between;
}

.d-flex-justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.table-responsive {
  overflow-x: auto;
}

.table-striped th {
  background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
